#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2 --buildsystem python_distutils

override_dh_auto_install:
	python setup.py install --root=debian/fs-uae-arcade --install-layout=deb --install-lib=/usr/share/fs-uae-arcade --install-scripts=/usr/share/fs-uae-arcade
	make install DESTDIR=$$(pwd)/debian/fs-uae-arcade prefix=/usr install

override_dh_auto_build:
	make mo
